faker==33.3.0 ; python_version >= "3.8"
mypy-extensions==1.0.0 ; python_version >= "3.8"
mypy==1.14.1 ; python_version >= "3.8"
python-dateutil==2.9.0.post0 ; python_version >= "3.8"
setuptools==75.3.0 ; python_version >= "3.8"
six==1.17.0 ; python_version >= "3.8"
tomli==2.2.1 ; python_version < "3.11" and python_version >= "3.8"
typing-extensions==4.12.2 ; python_version >= "3.8"
